/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";
s|List.guideList
{
	contentBackgroundColor: #5E3737;
	backgroundColor: #009900;
	alternatingItemColors: #231815, #231815;
	selectionColor: #e81866;
}
	